# Dependencies
node_modules/
.pnp/
.pnp.js

# Production build files
dist/
build/

# Testing
coverage/

# Misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo
.cursor/

# Optional: Ignore local scripts if they are not part of the repo
split_queens.js

# TypeScript
*.tsbuildinfo

# Compiled Source
packages/shared/src/*.js
packages/shared/src/*.js.map
packages/server/src/*.js
packages/server/src/*.js.map
packages/client/src/*.js
packages/client/src/*.js.map
